<div class="container">

    <div class="d-flex justify-content-center">
        <h3 class="">Admin Homepage</h3>
    </div>
    <div class="d-flex justify-content-end">    
        <form action="/admin/adminLogout" method="post" class="">
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>
    </div>

<div class="alert alert-primary" role="alert">
 <a href="">DASHBOARD</a> 
</div>
<div class="alert alert-primary" role="alert">
<a href="/admin/view-products">PRODUCT MANAGEMENT</a>
</div>
<div class="alert alert-primary" role="alert">
<a href="/admin/view-users">USER MANAGEMENT</a>
</div>
<div class="alert alert-primary" role="alert">
<a href="/admin/add-categories">CATEGORY MANAGEMENT</a>
</div>


