

	<header>

		<!-- banner -->
		<div class="banner_top innerpage" id="home">
			<div class="wrapper_top_w3layouts">
				<div class="header_agileits">
					<div class="logo inner_page_log">
						<h1><a class="navbar-brand" style="opacity: 0.5;" href="index.html"><span>Downy Shoes</span></a>
						</h1>
					</div>

					<div class="clearfix"></div>
					<!-- /banner_inner -->
					<div class="services-breadcrumb_w3ls_agileinfo">
						<div class="inner_breadcrumb_agileits_w3">

							<ul class="short">
								<li><a href="/view-products">Home</a><i>|</i></li>
								<li><a href="#">About</a><i>|</i></li>
								<li><a href="/cart">Cart</a><i>|</i></li>
								{{#if user}}
								<li><a href="#">Orders</a></li>
								{{/if}}
							</ul>
						</div>
					</div>
					<!-- //banner_inner -->
				</div>
	</header>
