<div class="row">
    <div class="col-md-12 m-auto">
        <div class="container mt-5 pl-5" style="width: 400px; margin-top: 70px">
            <h2 class="text-center">RESET PASSWORD</h2>
            <form action="/sendResetLink" method="post">
                <div class="form-group" style="padding-top: 20px;">
                    <label>Email address</label>
                    <input type="email" class="form-control" name="Email" placeholder="Enter email">
                </div>

                {{!-- <div>
                    {{#if loginErr}}
                    <p class="error">{{loginErr}}</p>
                    {{/if}}
                </div> --}}

                <div style="display: flex; justify-content: space-between;">
                    <p>{{{errorMessage}}}</p>
                    <button type="submit" class="btn btn-primary float-right">Send reset link</button>
                </div>
            </form>
        </div>
    </div>
</div>