<div class="row">
    <div class="col-md-12 m-auto">
        <div class="container mt-5 pl-5" style="width: 400px; height:100vh; margin-top: 70px">
            <h2 class="text-center">RESET PASSWORD</h2>
            <form action='/changePassword/{{{userId}}}' method="post">
                <div class="form-group" style="padding-top: 20px;">
                    <label>New password</label>
                    <input type="password" class="form-control" name="Password" placeholder="Enter password">
                </div>
                <div class="form-group">
                    <label>Confirm new password</label>
                    <input type="password" class="form-control" name="confirmPassword" placeholder="Re-enter password">
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <p>{{{errorMessage}}}</p>
                    <button type="submit" class="btn btn-primary float-right">Set new password</button>
                </div>
            </form>
        </div>
    </div>
</div>