<div class="container" style="height: 450px; text-align: center; padding: 70px;">
    <div class="row">
        <div class="col-md-12">
            <h1>Order has been placed successfully</h1>
            
            <button style="margin: 20px; padding: 10px;" type="submit" class="btn btn-success"><a style="color: white;" href="/view-orders">VIEW YOUR ORDERS HERE</a></button>
        </div>
    </div>
</div>