<div class="row">
  <div class="col-md-12 m-auto">
    <div class="container mt-5 pl-5" style="width: 500px; margin-top: 70px">
      <h2 class="text-center">OTP VERIFICATION</h2>
      <form action="/otpLoginVerify" method="post">
        <div class="form-group" style="padding-top: 30px;">
          <label>Enter the code we just sent to your phone</label>
          <input type="text" class="form-control" name="otp" placeholder="Enter OTP">
        </div>
        <div style="display: flex; justify-content: space-between;">
          {{!-- <a href="#">Resend OTP</a> --}}
          <button type="submit" class="btn btn-primary float-right">Submit</button>
          <p id="resendLine">Resend OTP in <span id="timer">00:05</span> seconds</p>
          <button type="submit" class="btn float-right" id="resendButton">Resend OTP</button>
        </div>
      </form>
    </div>
  </div>
</div>


<script>
  // Function to start the countdown timer
  function startTimer(duration, display) {
    let timer = duration, minutes, seconds;
    const countdown = setInterval(function () {

      minutes = parseInt(timer / 60, 10);
      seconds = parseInt(timer % 60, 10);

      minutes = minutes < 10 ? "0" + minutes : minutes;
      seconds = seconds < 10 ? "0" + seconds : seconds;

      display.textContent = minutes + ":" + seconds;
      document.getElementById("resendLine").style.display = "block";

      if (--timer < 0) {
        clearInterval(countdown);
        // Hide the timer and show the "Resend OTP" button
        document.getElementById("resendLine").style.display = "none";
        document.getElementById("resendButton").style.display = "block";
      }
    }, 1000);
  }

  document.addEventListener("DOMContentLoaded", function () {
    // Set the timer duration in seconds (e.g., 60 seconds)
    const timerDuration = 05;
    const timerDisplay = document.getElementById("timer");
    const resendButton = document.getElementById("resendButton");
    const resendLine = document.getElementById("resendLine");


    // Disable the "Resend OTP" button on page load
    resendButton.style.display = "none"

    // Start the timer on page load
    startTimer(timerDuration, timerDisplay);

    // Handle "Resend OTP" button click
    resendButton.addEventListener("click", function (e) {
      e.preventDefault();
      // Show the timer and hide the "Resend OTP" button
      //resendLine.style.display = "block";
      resendButton.style.display = "none";

      // Start the timer again
      startTimer(timerDuration, timerDisplay);

      // Add logic to resend OTP here (e.g., make an AJAX request)
      // You may also want to disable the "Resend OTP" button for a cooldown period.
    });
  });
</script>