<!-- banner -->
<div class="banner_top innerpage" id="home">
	<div class="wrapper_top_w3layouts">
		<div class="header_agileits">
			<div class="logo inner_page_log">
				<h1><a class="navbar-brand" href="/"><span>Downy</span> <i>Shoes</i></a></h1>
			</div>
			<div class="overlay overlay-contentpush">
				<button type="button" class="overlay-close"><i class="fa fa-times" aria-hidden="true"></i></button>

				<nav>
					<ul>
						{{#if user}}
						<h1 style="margin-bottom: 70px;">Hi, {{user.Name}}</h1>
						{{/if}}
						<li><a href="/" class="active">Home</a></li>
						{{#if user}}
						<li><a href="/view-orders">Orders</a></li>
						<li><a href="/view-profile">Profile</a></li>
						<li><a href="/logout">Logout</a></li>
						{{else}}
						<li><a href="/login">Login</a></li>
						{{/if}}

					</ul>
				</nav>
			</div>
			<div class="mobile-nav-button">
				<button id="trigger-overlay" type="button"><i class="fa fa-bars" aria-hidden="true"></i></button>
			</div>
			<!-- cart details -->
			<div class="top_nav_right">
				<div class="shoecart shoecart2 cart cart box_1">
					<form action="/cart" method="get" class="last">
						<input type="hidden" name="cmd" value="_cart">
						<input type="hidden" name="display" value="1">
						<button class="top_shoe_cart" type="submit" name="submit" value=""><i
								class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
						<span class="badge badge-success" id="cart-count">{{cartCount}}</span>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- //cart details -->
	<div class="clearfix"></div>
	<!-- /banner_inner -->
	<div class="services-breadcrumb_w3ls_agileinfo">
		<div class="inner_breadcrumb_agileits_w3">

			<ul class="short">
				<li><a href="/">Home</a><i>|</i></li>
				<li><a href="/about">About</a><i>|</i></li>
				<li><a href="/cart">Cart<span class="badge badge-success"
							id="cart-count">{{cartCount}}</span></a><i>|</i></li>
				{{#if user}}
				<li><a href="/view-orders">Orders</a><i>|</i></li>
				<li><a href="/view-profile">Profile</a></li>
				{{/if}}
			</ul>
		</div>
	</div>
	<!-- //banner_inner -->
</div>
</header>